## Taza de Victorias Anteriores

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import tensorflow as tf
from tensorflow import keras

In [3]:
jugador_des= pd.read_csv("player_ratings.csv")
jugador_des.head()

   account_id  total_wins  total_matches  trueskill_mu  trueskill_sigma
0      236579          14             24     27.868035         5.212361
1        -343           1              1     26.544163         8.065475
2       -1217           1              1     26.521103         8.114989
3       -1227           1              1     27.248025         8.092217
4       -1284           0              1     22.931016         8.092224

In [4]:
jugadores_test=pd.read_csv("test_player.csv")
jugadores_test.head()

   match_id  account_id  hero_id  player_slot
0     50000      117784       96            0
1     50000      158361       84            1
2     50000      158362       46            2
3     50000      137970       85            3
4     50000        1090       39            4

In [14]:
jugador_historial = pd.merge(jugadores_test,jugador_des, on = 'account_id',how = 'left')
jugador_historial.set_index(['match_id','player_slot'],inplace = True)
dim=len(jugador_historial)
jugador_historial.head()

                      account_id  hero_id  total_wins  total_matches  \
match_id player_slot
50000    0                117784       96        13.0           34.0
         1                158361       84        16.0           30.0
         2                158362       46        36.0           81.0
         3                137970       85        36.0           75.0
         4                  1090       39        27.0           55.0

                      trueskill_mu  trueskill_sigma
match_id player_slot
50000    0               25.369384         4.095448
         1               25.974050         4.370754
         2               24.712824         2.939637
         3               22.795904         2.940840
         4               25.724429         3.329013

In [16]:
jugador_historial['ratio_v']=jugador_historial.apply(lambda row: row.total_wins/row.total_matches, axis=1)

In [18]:
jugador_historial.head(20)

                      account_id  hero_id  total_wins  total_matches  \
match_id player_slot
50000    0                117784       96        13.0           34.0
         1                158361       84        16.0           30.0
         2                158362       46        36.0           81.0
         3                137970       85        36.0           75.0
         4                  1090       39        27.0           55.0
         128                2391        9        57.0          103.0
         129                2393       75         6.0           11.0
         130                2394      106         8.0           20.0
         131               36737       74        24.0           55.0
         132                2392       62        54.0          111.0
50001    0                 32932       44        31.0           57.0
         1                     0       10   1608398.0      3315071.0
         2                     0       57   1608398.0      3315071.0
         3                158363        2         NaN            NaN
         4                148934      106        37.0           61.0
         128              158364       58         3.0            7.0
         129               30423       61         9.0           19.0
         130                   0       21   1608398.0      3315071.0
         131              158365       18         NaN            NaN
         132                   0       14   1608398.0      3315071.0

                      trueskill_mu  trueskill_sigma   ratio_v
match_id player_slot
50000    0               25.369384         4.095448  0.382353
         1               25.974050         4.370754  0.533333
         2               24.712824         2.939637  0.444444
         3               22.795904         2.940840  0.480000
         4               25.724429         3.329013  0.490909
         128             29.729786         2.719076  0.553398
         129             29.340933         6.003274  0.545455
         130             24.044502         5.131671  0.400000
         131             24.597513         3.715227  0.436364
         132             24.258208         2.688842  0.486486
50001    0               27.356935         3.448841  0.543860
         1               25.000000         8.333333  0.485178
         2               25.000000         8.333333  0.485178
         3                     NaN              NaN       NaN
         4               28.584128         3.652367  0.606557
         128             25.140382         6.625757  0.428571
         129             25.324121         5.235565  0.473684
         130             25.000000         8.333333  0.485178
         131                   NaN              NaN       NaN
         132             25.000000         8.333333  0.485178

In [19]:
jugadores_match=jugador_historial['ratio_v'].unstack()
jugadores_match.head()

player_slot,0,1,2,3,4,128,129,130,131,132
match_id,,,,,,,,,,
50000,0.382353,0.533333,0.444444,0.480000,0.490909,0.553398,0.545455,0.400000,0.436364,0.486486
50001,0.543860,0.485178,0.485178,NaN,0.606557,0.428571,0.473684,0.485178,NaN,0.485178
50002,0.714286,0.000000,0.450704,0.444444,0.485178,0.485178,0.485178,0.485178,0.600000,0.485178
50003,NaN,0.485178,0.485178,0.530435,0.750000,0.485178,0.485178,0.571429,0.600000,0.485178
50004,0.485178,0.666667,0.485178,0.485178,0.485178,1.000000,0.485178,0.500000,0.506726,0.485178

In [20]:
jugadores_match.dropna(inplace=True)
jugadores_match.head(20)

player_slot,0,1,2,3,4,128,129,130,131,132
match_id,,,,,,,,,,
50000,0.382353,0.533333,0.444444,0.480000,0.490909,0.553398,0.545455,0.400000,0.436364,0.486486
50002,0.714286,0.000000,0.450704,0.444444,0.485178,0.485178,0.485178,0.485178,0.600000,0.485178
50004,0.485178,0.666667,0.485178,0.485178,0.485178,1.000000,0.485178,0.500000,0.506726,0.485178
50007,0.750000,0.545455,0.666667,0.485178,0.485178,0.166667,0.485178,0.363636,0.750000,0.485178
50008,0.250000,0.535211,0.485178,0.531915,0.487179,0.517045,0.485178,0.187500,0.500000,0.587500
50009,0.400000,0.000000,0.333333,0.187500,0.519685,0.485178,0.000000,0.416667,0.444444,0.571429
50010,0.538462,0.485178,0.485178,0.485178,0.555556,0.428571,0.517241,0.505376,0.485178,0.250000
50011,0.510823,0.485178,0.500000,0.714286,0.485178,0.200000,0.485178,0.750000,0.485178,0.521739
50013,0.000000,0.166667,1.000000,0.500000,0.666667,0.552632,0.583333,0.000000,0.485178,0.444444
50015,0.485178,0.485178,0.333333,0.485178,0.485178,0.485178,0.485178,0.500000,0.485178,0.485178
50016,0.485178,0.485178,0.500000,0.444444,1.000000,0.571429,0.485178,0.485178,0.666667,0.222222
50017,0.485178,0.505051,0.485178,0.485178,0.485178,0.485178,0.485178,0.500000,0.750000,0.461538
50021,0.485178,0.485178,0.750000,1.000000,0.000000,0.485178,0.485178,0.485178,0.487179,0.465909
50022,0.545455,0.722222,0.416667,0.125000,0.391304,0.485178,0.000000,0.538462,0.200000,0.375000
50026,0.460870,0.535714,0.485178,0.485178,0.538462,0.566667,0.590909,0.619048,0.449275,0.500000
50028,0.454545,0.518519,0.485178,0.000000,0.485178,0.571429,0.600000,0.485178,0.500000,0.560000
50031,0.461538,0.380952,0.541667,0.593750,0.485178,0.539683,0.545455,0.483871,0.400000,0.375000
50032,0.363636,0.485178,0.525000,0.485178,0.666667,0.485178,0.485178,0.407767,0.478261,0.543860
50035,0.333333,0.485178,0.666667,0.485178,0.432432,0.485178,0.562500,0.739130,0.533333,0.500000
50036,0.500000,0.486486,0.486486,0.526786,0.485178,0.485178,0.600000,0.548780,0.444444,0.485178

In [37]:
#jugadores_match.columns.values
jugadores_match=jugadores_match[jugadores_match[:]>0.2]
jugadores_match.head()

player_slot,0,1,2,3,4,128,129,130,131,132
match_id,,,,,,,,,,
50000,0.382353,0.533333,0.444444,0.480000,0.490909,0.553398,0.545455,0.400000,0.436364,0.486486
50002,0.714286,NaN,0.450704,0.444444,0.485178,0.485178,0.485178,0.485178,0.600000,0.485178
50004,0.485178,0.666667,0.485178,0.485178,0.485178,1.000000,0.485178,0.500000,0.506726,0.485178
50007,0.750000,0.545455,0.666667,0.485178,0.485178,NaN,0.485178,0.363636,0.750000,0.485178
50008,0.250000,0.535211,0.485178,0.531915,0.487179,0.517045,0.485178,NaN,0.500000,0.587500

In [38]:
jugadores_match=jugadores_match[jugadores_match[:]<0.8]
jugadores_match.head()

player_slot,0,1,2,3,4,128,129,130,131,132
match_id,,,,,,,,,,
50000,0.382353,0.533333,0.444444,0.480000,0.490909,0.553398,0.545455,0.400000,0.436364,0.486486
50002,0.714286,NaN,0.450704,0.444444,0.485178,0.485178,0.485178,0.485178,0.600000,0.485178
50004,0.485178,0.666667,0.485178,0.485178,0.485178,NaN,0.485178,0.500000,0.506726,0.485178
50007,0.750000,0.545455,0.666667,0.485178,0.485178,NaN,0.485178,0.363636,0.750000,0.485178
50008,0.250000,0.535211,0.485178,0.531915,0.487179,0.517045,0.485178,NaN,0.500000,0.587500

In [39]:
jugadores_match.dropna(inplace=True)
jugadores_match.head(20)

player_slot,0,1,2,3,4,128,129,130,131,132
match_id,,,,,,,,,,
50000,0.382353,0.533333,0.444444,0.480000,0.490909,0.553398,0.545455,0.400000,0.436364,0.486486
50010,0.538462,0.485178,0.485178,0.485178,0.555556,0.428571,0.517241,0.505376,0.485178,0.250000
50015,0.485178,0.485178,0.333333,0.485178,0.485178,0.485178,0.485178,0.500000,0.485178,0.485178
50017,0.485178,0.505051,0.485178,0.485178,0.485178,0.485178,0.485178,0.500000,0.750000,0.461538
50026,0.460870,0.535714,0.485178,0.485178,0.538462,0.566667,0.590909,0.619048,0.449275,0.500000
50031,0.461538,0.380952,0.541667,0.593750,0.485178,0.539683,0.545455,0.483871,0.400000,0.375000
50032,0.363636,0.485178,0.525000,0.485178,0.666667,0.485178,0.485178,0.407767,0.478261,0.543860
50035,0.333333,0.485178,0.666667,0.485178,0.432432,0.485178,0.562500,0.739130,0.533333,0.500000
50036,0.500000,0.486486,0.486486,0.526786,0.485178,0.485178,0.600000,0.548780,0.444444,0.485178
50040,0.485178,0.485178,0.333333,0.485178,0.485178,0.500000,0.485178,0.536585,0.526316,0.485178
50042,0.485178,0.485178,0.506061,0.496622,0.533333,0.608696,0.485178,0.485178,0.502793,0.485178
50043,0.428571,0.485178,0.636364,0.650000,0.485178,0.517007,0.485178,0.485178,0.485178,0.507407
50045,0.485178,0.485178,0.485178,0.485178,0.485178,0.485178,0.500000,0.583333,0.586207,0.631579
50050,0.485178,0.733333,0.601351,0.485178,0.485178,0.407407,0.485178,0.409091,0.485178,0.595238
50056,0.547826,0.361702,0.555556,0.636364,0.641026,0.485178,0.703704,0.553191,0.513514,0.500000
50068,0.485178,0.485178,0.521739,0.516129,0.550459,0.272727,0.448276,0.485178,0.666667,0.485178
50076,0.538462,0.560976,0.559006,0.485178,0.485178,0.485178,0.485178,0.485178,0.485178,0.485178
50078,0.380952,0.393939,0.419753,0.485178,0.468750,0.576923,0.597561,0.597403,0.687500,0.586207
50080,0.485178,0.485178,0.590909,0.620000,0.586777,0.439024,0.333333,0.480769,0.485178,0.614035
50083,0.485178,0.485178,0.520000,0.428571,0.485178,0.485178,0.485178,0.485178,0.485178,0.485178

In [41]:
partido_equipo=pd.read_csv("test_labels.csv")
partido_equipo.head()

   match_id  radiant_win
0     50000            0
1     50001            1
2     50002            0
3     50003            1
4     50004            0

In [43]:
test_ratio=pd.merge(partido_equipo,jugadores_match,left_index = True,right_index = True)
test_ratio.head(20)

,match_id,radiant_win,0,1,2,3,4,128,129,130,131,132
50000,100000,0,0.382353,0.533333,0.444444,0.480000,0.490909,0.553398,0.545455,0.400000,0.436364,0.486486
50010,100010,0,0.538462,0.485178,0.485178,0.485178,0.555556,0.428571,0.517241,0.505376,0.485178,0.250000
50015,100015,0,0.485178,0.485178,0.333333,0.485178,0.485178,0.485178,0.485178,0.500000,0.485178,0.485178
50017,100017,0,0.485178,0.505051,0.485178,0.485178,0.485178,0.485178,0.485178,0.500000,0.750000,0.461538
50026,100026,0,0.460870,0.535714,0.485178,0.485178,0.538462,0.566667,0.590909,0.619048,0.449275,0.500000
50031,100031,0,0.461538,0.380952,0.541667,0.593750,0.485178,0.539683,0.545455,0.483871,0.400000,0.375000
50032,100032,1,0.363636,0.485178,0.525000,0.485178,0.666667,0.485178,0.485178,0.407767,0.478261,0.543860
50035,100035,0,0.333333,0.485178,0.666667,0.485178,0.432432,0.485178,0.562500,0.739130,0.533333,0.500000
50036,100036,1,0.500000,0.486486,0.486486,0.526786,0.485178,0.485178,0.600000,0.548780,0.444444,0.485178
50040,100040,1,0.485178,0.485178,0.333333,0.485178,0.485178,0.500000,0.485178,0.536585,0.526316,0.485178
50042,100042,1,0.485178,0.485178,0.506061,0.496622,0.533333,0.608696,0.485178,0.485178,0.502793,0.485178
50043,100043,1,0.428571,0.485178,0.636364,0.650000,0.485178,0.517007,0.485178,0.485178,0.485178,0.507407
50045,100045,0,0.485178,0.485178,0.485178,0.485178,0.485178,0.485178,0.500000,0.583333,0.586207,0.631579
50050,100050,1,0.485178,0.733333,0.601351,0.485178,0.485178,0.407407,0.485178,0.409091,0.485178,0.595238
50056,100056,0,0.547826,0.361702,0.555556,0.636364,0.641026,0.485178,0.703704,0.553191,0.513514,0.500000
50068,100068,0,0.485178,0.485178,0.521739,0.516129,0.550459,0.272727,0.448276,0.485178,0.666667,0.485178
50076,100076,1,0.538462,0.560976,0.559006,0.485178,0.485178,0.485178,0.485178,0.485178,0.485178,0.485178
50078,100078,1,0.380952,0.393939,0.419753,0.485178,0.468750,0.576923,0.597561,0.597403,0.687500,0.586207
50080,100080,1,0.485178,0.485178,0.590909,0.620000,0.586777,0.439024,0.333333,0.480769,0.485178,0.614035
50083,100083,0,0.485178,0.485178,0.520000,0.428571,0.485178,0.485178,0.485178,0.485178,0.485178,0.485178

In [44]:
test_ratio.isna().sum()

match_id       0
radiant_win    0
0              0
1              0
2              0
3              0
4              0
128            0
129            0
130            0
131            0
132            0
dtype: int64

In [40]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

from sklearn.model_selection import cross_val_score

In [46]:
X=test_ratio[test_ratio.columns.difference(["match_id","radiant_win"])]
y=test_ratio["radiant_win"]
y.head()
#list(test_pick)
X.head()

,0,1,2,3,4,128,129,130,131,132
50000,0.382353,0.533333,0.444444,0.480000,0.490909,0.553398,0.545455,0.400000,0.436364,0.486486
50010,0.538462,0.485178,0.485178,0.485178,0.555556,0.428571,0.517241,0.505376,0.485178,0.250000
50015,0.485178,0.485178,0.333333,0.485178,0.485178,0.485178,0.485178,0.500000,0.485178,0.485178
50017,0.485178,0.505051,0.485178,0.485178,0.485178,0.485178,0.485178,0.500000,0.750000,0.461538
50026,0.460870,0.535714,0.485178,0.485178,0.538462,0.566667,0.590909,0.619048,0.449275,0.500000

In [47]:
X_entrenamiento, X_prueba, y_entrenamiento, y_prueba = train_test_split(X,y,test_size=0.2)

print(X_entrenamiento)

            0         1         2         3         4         128       129  \
80190  0.444444  0.431579  0.593750  0.455696  0.648649  0.623711  0.641379
51167  0.538462  0.485178  0.562500  0.485178  0.485178  0.496296  0.571429
83185  0.515695  0.545455  0.586420  0.588235  0.485178  0.508475  0.518072
81532  0.530303  0.391304  0.539792  0.500000  0.562500  0.595238  0.485178
83932  0.666667  0.583333  0.666667  0.485178  0.625000  0.485178  0.485178
63911  0.400000  0.714286  0.642857  0.500000  0.571429  0.653846  0.700000
66531  0.485178  0.485178  0.485178  0.485178  0.485178  0.485178  0.592593
80323  0.542017  0.520000  0.485178  0.485178  0.500000  0.530612  0.569106
88531  0.485178  0.485178  0.485178  0.485178  0.485178  0.470588  0.485178
92627  0.485178  0.597826  0.485178  0.485178  0.485178  0.485178  0.485178
89854  0.485178  0.485178  0.485178  0.485178  0.485178  0.625000  0.592593
90152  0.555556  0.600000  0.485178  0.485178  0.485178  0.285714  0.557522
95209  0.485178  0.485178  0.485178  0.444444  0.485178  0.400000  0.636364
64115  0.485178  0.485178  0.562500  0.485178  0.485178  0.595745  0.541667
56422  0.583333  0.500000  0.585366  0.531915  0.509677  0.555556  0.550000
51485  0.563830  0.444444  0.605263  0.533333  0.621212  0.485178  0.509804
56350  0.600000  0.639344  0.485178  0.714286  0.500000  0.636364  0.532468
64881  0.485178  0.485178  0.750000  0.485178  0.485178  0.485178  0.485178
90644  0.576923  0.485178  0.678571  0.550725  0.428571  0.357143  0.521866
64043  0.485178  0.622222  0.485178  0.485178  0.485178  0.485178  0.485178
53603  0.600000  0.500000  0.485178  0.388889  0.485178  0.666667  0.485178
55882  0.250000  0.500000  0.272727  0.312500  0.485178  0.500000  0.485178
59224  0.550562  0.722222  0.558140  0.539823  0.500000  0.488889  0.475000
82139  0.485178  0.485178  0.485178  0.485178  0.485178  0.485178  0.400000
79605  0.666667  0.782609  0.470588  0.363636  0.333333  0.485178  0.485178
58178  0.485178  0.485178  0.485178  0.513761  0.583333  0.428571  0.375000
54260  0.610390  0.485178  0.250000  0.485178  0.485178  0.485178  0.769231
57196  0.485178  0.555556  0.750000  0.400000  0.750000  0.437500  0.333333
50989  0.419355  0.458333  0.500000  0.409091  0.384615  0.485178  0.485178
82026  0.550000  0.485178  0.485178  0.506944  0.400000  0.450980  0.500000
...         ...       ...       ...       ...       ...       ...       ...
91253  0.485178  0.485178  0.485178  0.485178  0.485178  0.400000  0.485178
72575  0.485178  0.500000  0.485178  0.529412  0.666667  0.485178  0.485178
85484  0.583333  0.485178  0.592593  0.468750  0.428571  0.585366  0.653846
94589  0.441176  0.571429  0.485178  0.485178  0.555556  0.400000  0.485178
99568  0.444444  0.509434  0.485178  0.466667  0.473988  0.250000  0.434783
68857  0.400000  0.424242  0.533333  0.485178  0.666667  0.452381  0.571429
80123  0.615385  0.625000  0.454545  0.485178  0.485178  0.485178  0.485178
87402  0.250000  0.485178  0.485178  0.571429  0.567164  0.506849  0.630952
63348  0.485178  0.485178  0.485178  0.500000  0.333333  0.485178  0.485178
94106  0.480000  0.363636  0.485178  0.563910  0.608696  0.487805  0.580645
89654  0.700000  0.512195  0.485178  0.470588  0.553191  0.638889  0.485178
86633  0.466667  0.579545  0.470588  0.523810  0.450000  0.485178  0.591304
62019  0.461538  0.571429  0.459459  0.420000  0.529412  0.528736  0.560000
77294  0.636364  0.485178  0.485178  0.485178  0.609375  0.485178  0.750000
55270  0.250000  0.611111  0.500000  0.400000  0.555556  0.333333  0.459459
69122  0.566667  0.714286  0.485178  0.485178  0.421053  0.500000  0.333333
52966  0.647059  0.647059  0.482759  0.528302  0.441860  0.485178  0.485178
78348  0.472222  0.500000  0.500000  0.556962  0.420000  0.653846  0.750000
52566  0.565217  0.483871  0.625000  0.444444  0.485178  0.451613  0.516129
58422  0.500000  0.485178  0.346154  0.547619  0.489130  0.485178  0.250000
82179  0.625000  0.485178  0.530769  0.485178  0.250000  0.540000  0.750000
71950  0.485178  0.485178  0.485178  0.518519  0.541667  0.555556  0.557692
65791  0.632184  0.468085  0.520000  0.485178  0.571429  0.387097  0.529412
84234  0.538462  0.428571  0.526316  0.530612  0.485178  0.550000  0.485178
69211  0.485178  0.485178  0.485178  0.485178  0.485178  0.485178  0.485178
63230  0.666667  0.560000  0.485178  0.571429  0.448276  0.500000  0.485178
63841  0.485178  0.466667  0.576271  0.440000  0.434783  0.421053  0.485178
95705  0.590909  0.593750  0.485178  0.485178  0.625000  0.500000  0.452555
68176  0.485178  0.530612  0.624060  0.485178  0.250000  0.424242  0.518072
70901  0.638889  0.504673  0.492063  0.650000  0.557143  0.400000  0.444444

            130       131       132
80190  0.601036  0.529412  0.612500
51167  0.529412  0.585366  0.666667
83185  0.471429  0.625000  0.446809
81532  0.500000  0.512821  0.574468
83932  0.485178  0.485178  0.333333
63911  0.485178  0.586207  0.485437
66531  0.485178  0.485178  0.485178
80323  0.485178  0.534247  0.632768
88531  0.485178  0.485178  0.714286
92627  0.485178  0.384615  0.485178
89854  0.575758  0.600000  0.485178
90152  0.545455  0.555024  0.500000
95209  0.600000  0.500000  0.551724
64115  0.538462  0.631579  0.578125
56422  0.485178  0.464286  0.350000
51485  0.575000  0.555556  0.485178
56350  0.596491  0.500000  0.575000
64881  0.666667  0.617647  0.611111
90644  0.457143  0.375000  0.666667
64043  0.485178  0.485178  0.485178
53603  0.718750  0.471910  0.500000
55882  0.500000  0.485178  0.647059
59224  0.530612  0.521739  0.692308
82139  0.333333  0.545455  0.461538
79605  0.400000  0.485178  0.485178
58178  0.666667  0.485178  0.510638
54260  0.485178  0.485178  0.485178
57196  0.485178  0.485178  0.636364
50989  0.485178  0.485178  0.485178
82026  0.668919  0.333333  0.777778
...         ...       ...       ...
91253  0.485178  0.485178  0.506726
72575  0.485178  0.485178  0.485178
85484  0.554217  0.507463  0.655172
94589  0.534483  0.485178  0.486486
99568  0.556604  0.562500  0.428571
68857  0.434783  0.428571  0.500000
80123  0.485178  0.485178  0.485178
87402  0.446809  0.537736  0.476190
63348  0.485178  0.485178  0.485178
94106  0.608108  0.571429  0.535714
89654  0.500000  0.685714  0.686567
86633  0.448276  0.363636  0.526316
62019  0.466667  0.472527  0.559524
77294  0.600000  0.485178  0.485178
55270  0.545455  0.500000  0.625000
69122  0.485178  0.485178  0.485178
52966  0.485178  0.485178  0.485178
78348  0.448276  0.478261  0.575000
52566  0.478261  0.416667  0.500000
58422  0.485178  0.333333  0.485178
82179  0.533333  0.687500  0.444444
71950  0.565217  0.487179  0.485178
65791  0.615385  0.777778  0.578313
84234  0.714286  0.500000  0.514286
69211  0.485178  0.514563  0.600000
63230  0.636364  0.500000  0.500000
63841  0.485178  0.733333  0.553571
95705  0.483871  0.750000  0.368421
68176  0.485178  0.485178  0.520000
70901  0.498534  0.570552  0.485178

[9087 rows x 10 columns]

In [48]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
LR =LogisticRegression().fit(X_entrenamiento,y_entrenamiento)

predicciones_test_LR = LR.predict(X_prueba)

matriz_confusion_LR = metrics.confusion_matrix(y_prueba, predicciones_test_LR)
TN_LR = matriz_confusion_LR[0,0]
FN_LR = matriz_confusion_LR[1,0]
FP_LR = matriz_confusion_LR[0,1]
TP_LR = matriz_confusion_LR[1,1]

print ('              +-----------------+')
print ('              |   Predicción    |')
print ('              +-----------------+')
print ('              |    +   |    -   |')
print ('+-------+-----+--------+--------+')
print ('| Valor |  +  |   %d |  %d     |'   % (TP_LR, FN_LR) )
print ('| real  +-----+--------+--------+')
print ('|       |  -  | %d   | %d      |'    % (FP_LR, TN_LR) )
print ('+-------+-----+--------+--------+')
print ()
#print ( 'Exactitud    : ', (TP_LR+TN_LR)/(TP_LR+FN_LR+FP_LR+TN_LR) )
print('Exactitud     :',metrics.accuracy_score(y_prueba, predicciones_test_LR) )
print('Precisión     :',metrics.precision_score(y_prueba, predicciones_test_LR)) 
print('Exhaustividad :',metrics.recall_score(y_prueba, predicciones_test_LR))
print('F1-Score      :',metrics.f1_score(y_prueba, predicciones_test_LR))

              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |   1043 |  146     |
| real  +-----+--------+--------+
|       |  -  | 956   | 127      |
+-------+-----+--------+--------+

Exactitud     : 0.5149647887323944
Precisión     : 0.5217608804402201
Exhaustividad : 0.8772077375946173
F1-Score      : 0.6543287327478041

In [49]:
from sklearn.naive_bayes import GaussianNB

GNB = GaussianNB().fit(X_entrenamiento,y_entrenamiento)

predicciones_test_GNB=GNB.predict(X_prueba)

matriz_confusion_GNB = metrics.confusion_matrix(y_prueba, predicciones_test_GNB)
TN_GNB = matriz_confusion_GNB[0,0]
FN_GNB = matriz_confusion_GNB[1,0]
FP_GNB = matriz_confusion_GNB[0,1]
TP_GNB = matriz_confusion_GNB[1,1]

print ('              +-----------------+')
print ('              |   Predicción    |')
print ('              +-----------------+')
print ('              |    +   |    -   |')
print ('+-------+-----+--------+--------+')
print ('| Valor |  +  |   %d |  %d     |'   % (TP_GNB, FN_GNB) )
print ('| real  +-----+--------+--------+')
print ('|       |  -  | %d   | %d      |'    % (FP_GNB, TN_GNB) )
print ('+-------+-----+--------+--------+')
print ()
#print ('Exactitud    : ', (TP_GNB+TN_GNB)/(TP_GNB+FN_GNB+FP_GNB+TN_GNB) )
print('Exactitud     :',metrics.accuracy_score(y_prueba, predicciones_test_GNB) )
print('Precisión     :',metrics.precision_score(y_prueba, predicciones_test_GNB)) 
print('Exhaustividad :',metrics.recall_score(y_prueba, predicciones_test_GNB))
print('F1-Score      :',metrics.f1_score(y_prueba, predicciones_test_GNB))

              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |   870 |  319     |
| real  +-----+--------+--------+
|       |  -  | 792   | 291      |
+-------+-----+--------+--------+

Exactitud     : 0.5110035211267606
Precisión     : 0.5234657039711191
Exhaustividad : 0.7317073170731707
F1-Score      : 0.6103121711680112

In [50]:
from sklearn.neighbors import KNeighborsClassifier


KNN= KNeighborsClassifier().fit(X_entrenamiento,y_entrenamiento)

predicciones_test_KNN=KNN.predict(X_prueba)

matriz_confusion_KNN = metrics.confusion_matrix(y_prueba, predicciones_test_KNN)
TN_KNN = matriz_confusion_KNN[0,0]
FN_KNN = matriz_confusion_KNN[1,0]
FP_KNN = matriz_confusion_KNN[0,1]
TP_KNN = matriz_confusion_KNN[1,1]

print ('              +-----------------+')
print ('              |   Predicción    |')
print ('              +-----------------+')
print ('              |    +   |    -   |')
print ('+-------+-----+--------+--------+')
print ('| Valor |  +  |   %d |  %d  |'   % (TP_KNN, FN_KNN) )
print ('| real  +-----+--------+--------+')
print ('|       |  -  | %d   | %d   |'    % (FP_KNN, TN_KNN) )
print ('+-------+-----+--------+--------+')
print ()
#print ('Exactitud    : ', (TP_GNB+TN_GNB)/(TP_GNB+FN_GNB+FP_GNB+TN_GNB) )
print('Exactitud     :',metrics.accuracy_score(y_prueba, predicciones_test_KNN) )
print('Precisión     :',metrics.precision_score(y_prueba, predicciones_test_KNN)) 
print('Exhaustividad :',metrics.recall_score(y_prueba, predicciones_test_KNN))
print('F1-Score      :',metrics.f1_score(y_prueba, predicciones_test_KNN))

              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |   639 |  550  |
| real  +-----+--------+--------+
|       |  -  | 583   | 500   |
+-------+-----+--------+--------+

Exactitud     : 0.5013204225352113
Precisión     : 0.5229132569558101
Exhaustividad : 0.5374264087468461
F1-Score      : 0.5300705101617587

In [52]:
from sklearn.ensemble import RandomForestClassifier

RFC=RandomForestClassifier(n_estimators=10).fit(X_entrenamiento,y_entrenamiento)

predicciones_test_RFC=RFC.predict(X_prueba)

matriz_confusion_RFC = metrics.confusion_matrix(y_prueba, predicciones_test_RFC)
TN_LR = matriz_confusion_RFC[0,0]
FN_LR = matriz_confusion_RFC[1,0]
FP_LR = matriz_confusion_RFC[0,1]
TP_LR = matriz_confusion_RFC[1,1]

print ('              +-----------------+')
print ('              |   Predicción    |')
print ('              +-----------------+')
print ('              |    +   |    -   |')
print ('+-------+-----+--------+--------+')
print ('| Valor |  +  |   %d |  %d     |'   % (TP_LR, FN_LR) )
print ('| real  +-----+--------+--------+')
print ('|       |  -  | %d   | %d      |'    % (FP_LR, TN_LR) )
print ('+-------+-----+--------+--------+')
print ()
#print ( 'Exactitud    : ', (TP_LR+TN_LR)/(TP_LR+FN_LR+FP_LR+TN_LR) )
print('Exactitud     :',metrics.accuracy_score(y_prueba, predicciones_test_RFC) )
print('Precisión     :',metrics.precision_score(y_prueba, predicciones_test_RFC)) 
print('Exhaustividad :',metrics.recall_score(y_prueba, predicciones_test_RFC))
print('F1-Score      :',metrics.f1_score(y_prueba, predicciones_test_RFC))

              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |   525 |  664     |
| real  +-----+--------+--------+
|       |  -  | 469   | 614      |
+-------+-----+--------+--------+

Exactitud     : 0.5013204225352113
Precisión     : 0.528169014084507
Exhaustividad : 0.4415475189234651
F1-Score      : 0.48098946404031145